<div class="social-buttons">
  {% if TWITTER_USERNAME %}
    <!-- twitter-button -->
    <div class="social-button twitter-button">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{TWITTER_USERNAME}}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
    <!-- /.twitter-button -->
  {% endif %}

  {% if FACEBOOK_APPID %}
    <!-- facebook-button -->
    <div class="social-button facebook-button">
        <iframe src="http://www.facebook.com/plugins/like.php?href={{ SITEURL }}/{{ article.url }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=262757647133878" style="border:none; overflow:hidden; width:450px; height:21px;"></iframe>
    </div>
    <!-- /.facebook-button -->
  {% endif %}

  {% if GOOGLE_PLUS %}
    <!-- gplus-button -->
    <div class="social-button gplus-button">
        <div class="g-plusone" data-size="tall" data-annotation="none"></div>

        <script type="text/javascript">
          window.___gcfg = {lang: 'en-US'};
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>
    <!-- /.gplus-button -->
  {% endif %}
</div>
