{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}
{% block canonical_url %}{{ article.meta.canonical }}{% endblock %}
{% block description %}{{ article.meta.description }}{% endblock %}
{% block robots %}{{ article.meta.robots }}{% endblock %}

{% block page_css %}full-entry{% endblock %}

{% block content %}

    {% if article.readtime %}
    <div><b>Read in {{article.readtime.minutes}} min.</b></div>
    {% endif %}

    {% set show_complete = true %}
    {% include "includes/article.html" %}

<ul>
 {% if article.prev_article %}
     <li>
         <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
             {{ article.prev_article.title }}
         </a>
     </li>
 {% endif %}
 {% if article.next_article %}
     <li>
         <a href="{{ SITEURL }}/{{ article.next_article.url}}">
             {{ article.next_article.title }}
         </a>
     </li>
 {% endif %}
</ul>
<ul>
 {% if article.prev_article_in_category %}
     <li>
         <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
             {{ article.prev_article_in_category.title }}
         </a>
     </li>
 {% endif %}
 {% if article.next_article_in_category %}
     <li>
         <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
             {{ article.next_article_in_category.title }}
         </a>
     </li>
 {% endif %}
</ul>

{% endblock content %}
